[user]
	name = Robbie Khaddaj
	email = robbie.khaddaj@shopify.com
[alias]
	st = status -s
	co = checkout
	ci = commit
	ca = commit --amend -C HEAD
	br = branch --sort=-committerdate
	df = diff
	dfs = diff --staged
	lg = log --oneline --decorate --graph --abbrev-commit
[push]
	default = simple
[pull]
	rebase = true
[color]
	ui = true
[sequence]
	editor = rebase-editor
[fetch]
	prune = true
